<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5kE4gmit_G2Jsx-Knhjm55_8kb6Z7u-o</string>
	<key>GCM_SENDER_ID</key>
	<string>677213629714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madteamproject</string>
	<key>PROJECT_ID</key>
	<string>hi2recycle-7a78c</string>
	<key>STORAGE_BUCKET</key>
	<string>hi2recycle-7a78c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677213629714:ios:58631375474ebfb0dc17cb</string>
</dict>
</plist>